{% extends "Dashboard.html" %}
{% block title %} FXTM Wallets - MyFXTM Dashboard {% endblock %}

{% block maincontent %}

	<h1 style="font-size: 50px; margin-left: 10px;">FXTM Wallets</h1>
	<div style="margin-left: 30px;">
		<div class="board-box">
			<h2>MyFXTM Wallet</h2>
			<hr>
			<h1 style="font-size: 70px; margin-left: 20px;">${{ Thousandify(CUser['wallet_balance']) }}</h1>
			<br>
			<a href="/transaction-history">
				<button>View Transaction History</button>
			</a>
		</div>
	</div>

{% endblock %}